<!DOCTYPE html>
<html>
  <head>
    <title>Houses of Dune</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><img src="http://nerdist.com/wp-content/uploads/2015/06/Dune-Fan-Art-06082015.jpg"></header>
    <%= yield %>
  </body>
</html>
